<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" dir="ltr">

    <head>
        <title>{%block title %}{%endblock%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block meta %}
        <meta name="language" content="ru" />
        <meta name="title" content="Контактные данные - Частный Детский Сад &laquo;Алёнушка&raquo; в Улан-Удэ" />
        <meta name="keywords" content="Детсад, Улан-Удэ, Сотовый тел,Тел, Детский Сад,Сад,Улан-Удэ" />
        <meta name="description" content="Наш Детский Сад- это центр радости для малышей и их родителей! Тел.(круглосуточно): 42-78-82; Сотовый тел: 8-924-655-91-99;  8-909-591-49-34. " />
        <meta name="robots" content="index,follow" />
        <meta name="date" content="2012-03-12 07:56" />
        {% endblock %}

        <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-20712706-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
        <script type="text/javascript" src="/js/fancybox/lib/jquery-1.7.1.min.js"></script>

        <link rel="stylesheet" href="/js/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
        <script type="text/javascript" src="/js/fancybox/source/jquery.fancybox.pack.js"></script>


        <script type="text/javascript">
            VK.init({
                apiId: 2329090,
                onlyWidgets: true
            });
        </script>
    </head>

    <body>

        <div id="wrapper">

            <div id="header">
                <span class="page-title"><a href="/"><span>Святой Нос - Райский уголок</span></a></span>
                <br/><small>база отдыха в Максимихе</small>
                <div style="position: absolute; top:10px; right:10px;">
                    Тел.(круглосуточно): 42-78-82<br/>
                    Сотовый тел: 8-924-655-91-99
                </div>
            </div>

            <div id="menu">
                <ul>
                {% for route,title in navigation %}
                    {# Render current route differently then others. #}
                    {% if app.request.attributes.get('_route') == route %}
                    <li class="selected"><a href="{{ path(route) }}">{{ title }}</a></li>
                    {% else %}
                    <li><a href="{{ path(route) }}">{{ title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>

            <div id="content">
                {% block content %}
                {% endblock  %}
            </div>

<!--            <div class="sidebar-images">
                <div id="vk_like"></div>

                <script type="text/javascript">
                    VK.Widgets.Like("vk_like", {
                        width: 150,
                        type: "button",
                        pageTitle: 'Частный Детсад Улан-Удэ - "Алёнушка"',
                        pageUrl: 'http://ulan-ude.detsad-alionoschka.de/'
                    });
                </script>
                <div class="image">
                  <img src="images/kinder/kinder_1.jpg" alt="Kinder 1"/>
                </div>
            </div>-->

            <div id="footer">

                <small>Тел.(круглосуточно): 42-78-82 &bull; Сотовый тел: 8-924-655-91-99</small>
<!--                <div class="geo">
                    <span class="latitude">51.898952</span>,
                    <span class="longitude">107.453499</span>
                </div>-->

<!--                <address class="adr">
                    <span class="street-address">ул. шумяцкого</span>
                    <span class="locality">Улан-Удэ</span>,
                    <span class="region">Бурятия</span>
                    <span class="postal-code">670000</span>
                    <span class="country-name">Россия</span>
                </address>-->

            </div>

            <script>
                $(document).ready(function() {
                    $('.fancybox').fancybox();
                });
            </script>

        </div>

    </body>
</html>
