{% extends 'base.twig' %}

{% block title %}База отдыха на Байкале "Райский уголок" в Максимихе{% endblock %}

{% block meta %}
    <meta name="language" content="ru" />
    <meta name="title" content="База отдыха на Байкале &quot;Райский уголок&quot; в Максимихе" />
    <meta name="keywords" content="База отдыха,турбаза байкал,Святой Нос,Байкала" />
    <meta name="description" content="Уютные номера прямо на берегу Байкала от 400 руб! Различные развлечения: дайвинг,прогулка на катере, экскурсии по Баргузинской долине-богиня Янжима. Звоните! Тел.круглосуточно: +7-983-4300857 и +7-924-7767704"/>
{% endblock %}

{% block content %}
<div class="entry">
    <h1 class="entry-title">Фотографии наших туристов</h1>
    <div class="entry">
        {% for image in images %}
        <a href="/images/2012/{{image}}" class="fancybox" rel="gallery" title="">
            <img width="150" height="80" src="/images/2012/thumbs/{{image}}" alt=""/>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}