{% extends 'base.twig' %}


{% block content %}
<div class="entry">
    <p>
        База отдыха "Святой Нос - Райский уголок" располагается в одном из самых красивейших заливов Байкала -
        Баргузинский залив. Чистые воды Священного моря, отмели, лучшие белоснежные песчаные пляжи, их еще
        называют "Шагающие пляжи" - создали условия для приятного отдыха.
    </p>
    <h1 class="entry-title">Отдыхайте у нас прямо на берегу байкала!</h1>
    <div class="entry">
        <a href="/images/baikal/y_2aeb36ca.jpg" class="fancybox" rel="gallery2" title="Sample title 1"><img width="100" height="100" src="/images/baikal/y_2aeb36ca.jpg" /></a>
        <a href="/images/baikal/y_52362f2a.jpg" class="fancybox" rel="gallery2" title="Sample title 2"><img width="100" height="100" src="/images/baikal/y_52362f2a.jpg" /></a>
    </div>
</div>
{% endblock %}