{% extends 'base.twig' %}


{% block content %}
<div class="entry">
    <h1 class="entry-title">База отдыха "Святой Нос - Райский уголок"</h1>
    <p>
        Располагается в одном из самых красивейших заливов Байкала -
        Баргузинский залив. Чистые воды Священного моря, отмели, лучшие белоснежные песчаные пляжи, их еще
        называют "Шагающие пляжи" - создали условия для приятного отдыха.
    </p>
    <h1 class="entry-title">Отдыхайте у нас прямо на берегу байкала!</h1>
    <div class="entry">
        <a href="/images/baikal/home/y_af762e98.jpg" class="fancybox" rel="gallery" title="">
            <img width="100" height="100" src="/images/baikal/home/y_af762e98.jpg" />
        </a>
        <a href="/images/baikal/home/z_6bb260f4.jpg" class="fancybox" rel="gallery" title="">
            <img width="100" height="100" src="/images/baikal/home/z_6bb260f4.jpg" />
        </a>
        <a href="/images/baikal/home/z_28f17023.jpg" class="fancybox" rel="gallery" title="">
            <img width="100" height="100" src="/images/baikal/home/z_28f17023.jpg" />
        </a>
        <a href="/images/baikal/home/z_96a797c6.jpg" class="fancybox" rel="gallery" title="">
            <img width="100" height="100" src="/images/baikal/home/z_96a797c6.jpg" />
        </a>
        <a href="/images/baikal/home/z_c2c13851.jpg" class="fancybox" rel="gallery" title="">
            <img width="100" height="100" src="/images/baikal/home/z_c2c13851.jpg" />
        </a>
        <a href="/images/baikal/home/z_c31dedfd.jpg" class="fancybox" rel="gallery" title="">
            <img width="100" height="100" src="/images/baikal/home/z_c31dedfd.jpg" />
        </a>
        <a href="/images/baikal/home/z_aaa0266d.jpg" class="fancybox" rel="gallery" title="">
            <img width="100" height="100" src="/images/baikal/home/z_aaa0266d.jpg" />
        </a>
        <a href="/images/baikal/home/z_ef05809b.jpg" class="fancybox" rel="gallery" title="">
            <img width="100" height="100" src="/images/baikal/home/z_ef05809b.jpg" /></a>
    </div>
</div>
{% endblock %}