{% extends 'base.twig' %}

{% block title %}База отдыха на Байкале "Райский уголок" в Максимихе{% endblock %}

{% block meta %}
    <meta name="language" content="ru" />
    <meta name="title" content="База отдыха на Байкале &quot;Райский уголок&quot; в Максимихе" />
    <meta name="keywords" content="База отдыха,турбаза байкал,Святой Нос,Байкала" />
    <meta name="description" content="Уютные номера прямо на берегу Байкала от 400 руб! Различные развлечения: дайвинг,прогулка на катере, экскурсии по Баргузинской долине-богиня Янжима. Звоните! Тел.круглосуточно: 8-924-655-91-99 или 8-902-564-7687 "/>
{% endblock %}

{% block content %}
<div class="entry">
    <h1 class="entry-title">База отдыха "Святой Нос - Райский уголок"</h1>
    <p>
        Располагается в одном из самых красивейших заливов Байкала -
        Баргузинский залив. Чистые воды Священного моря, отмели, лучшие белоснежные песчаные пляжи, их еще
        называют "Шагающие пляжи" - создали условия для приятного отдыха.
    </p>
    <h1 class="entry-title">Отдыхайте у нас прямо на берегу байкала!</h1>
    <style type="text/css">
        .fancybox {
            position: absolute;
        }
        .fancybox img {
            display: inline;
        }
    </style>
    <div class="entry" style="position: relative; padding-left: 40px; height: 500px;">
        <a href="/images/activity/090408_atz967vjnb.jpg" class="fancybox" rel="gallery" title="Вот такие щучины ловятся у нас на Байкале...">
            <img width="150" height="210" src="/images/activity/090408_atz967vjnb.jpg" alt="Вот такие щучины ловятся у нас на Байкале..."/>
        </a>
        <a style="left: 200px;" href="/images/baikal/home/z_6bb260f4.jpg" class="fancybox" rel="gallery" title="">
            <img width="135" height="105" src="/images/baikal/home/thumb/z_6bb260f4.jpg" />
        </a>
        <a style="left: 340px;" href="/images/activity/0007w39t.jpeg" class="fancybox" rel="gallery" title="Святые шаманские места">
            <img width="200" height="140" src="/images/activity/0007w39t.jpeg" alt="Святые шаманские места" />
        </a>
        <a style="top: 115px; left: 200px;" href="/images/activity/robben.jpeg" class="fancybox" rel="gallery" title="Лежбище ушканов">
            <img width="200" height="140" src="/images/activity/robben.jpeg" alt="Лежбище ушканов"/>
        </a>
        <a style="left: 550px;" href="/images/baikal/home/z_28f17023.jpg" class="fancybox" rel="gallery" title="На этик катерах можно сделать прогулку по Байкалу и посетить горячие источники">
            <img width="170" height="125" src="/images/baikal/home/thumb/z_28f17023.jpg" alt="На этик катерах можно сделать прогулку по Байкалу и посетить горячие источники"/>
        </a>
        <a style=" top: 225px;" href="/images/baikal/home/z_c2c13851.jpg" class="fancybox" rel="gallery" title="">
            <img width="150" height="110" src="/images/baikal/home/thumb/z_c2c13851.jpg" />
        </a>
<!--        <a href="/images/activity/pc017.jpg" class="fancybox" rel="gallery" title="">
            <img width="130" height="100" src="/images/activity/pc017.jpg" />
        </a>-->
        <a style="left: 410px; top: 150px;" href="/images/activity/2.jpg" class="fancybox" rel="gallery" title="Восхождение на п-ов.Святой нос">
            <img width="140" height="100" src="/images/activity/2.jpg" alt="Восхождение на п-ов.Святой нос" />
        </a>
        <a style="left: 375px; top: 265px;" href="/images/baikal/home/z_aaa0266d.jpg" class="fancybox" rel="gallery" title="Вид на Крестовый нос с Мраморной горы">
            <img width="160" height="110" src="/images/baikal/home/thumb/z_aaa0266d.jpg" alt="Вид на Крестовый нос с Мраморной горы"/>
        </a>
<!--        <a href="/images/baikal/home/z_ef05809b.jpg" class="fancybox" rel="gallery" title="">
            <img width="140" height="100" src="/images/baikal/home/thumb/z_ef05809b.jpg" />
        </a>-->
        <a style="right: 35px; top: 145px;" href="/images/activity/7916_shashlyk.jpg" class="fancybox" rel="gallery" title="Шашлычки прямо на берегу Байкала, ммм...">
            <img width="160" height="160" src="/images/activity/7916_shashlyk.jpg" alt="Шашлычки прямо на берегу Байкала, ммм..." />
        </a>
        <a style="left: 200px; top: 265px;" href="/images/activity/0007yhxt.jpeg" class="fancybox" rel="gallery" title="После активного дня любоваться закатом и слушать шепот дремучего Байкала.">
            <img width="160" height="110" src="/images/activity/0007yhxt.jpeg" alt="После активного дня любоваться закатом и слушать шепот дремучего Байкала."/>
        </a>
    </div>
</div>
{% endblock %}