{% extends 'base.twig' %}

{% block title %}База отдыха на Байкале "Райский уголок" в Максимихе{% endblock %}

{% block meta %}
    <meta name="language" content="ru" />
    <meta name="title" content="База отдыха на Байкале &quot;Райский уголок&quot; в Максимихе" />
    <meta name="keywords" content="База отдыха,турбаза байкал,Святой Нос,Байкала" />
    <meta name="description" content="Уютные номера прямо на берегу Байкала от 400 руб! Различные развлечения: дайвинг,прогулка на катере, экскурсии по Баргузинской долине-богиня Янжима. Звоните! Тел.круглосуточно: 8-924-655-91-99 или 8-902-564-7687"/>
{% endblock %}

{% block content %}
<div class="entry">
    <h1 class="entry-title">База отдыха на Байкале "Святой Нос - Райский уголок"</h1>
    <p>
        Располагается в одном из самых красивейших заливов Байкала -
        Баргузинский залив. Чистые воды Священного моря, отмели, лучшие белоснежные песчаные пляжи, их еще
        называют "Шагающие пляжи" - создали условия для приятного отдыха.
    </p>
    <h1 class="entry-title">Отдыхайте у нас прямо на берегу байкала!</h1>
    <style type="text/css">
        .fancybox {
            position: absolute;
        }
        .fancybox img {
            display: inline;
        }
    </style>
    <div class="entry" style="position: relative; padding-left: 40px; height: 360px;">
        <a href="/images/activity/090408_atz967vjnb.jpg" class="fancybox" rel="gallery" title="Вот такие щучины ловятся у нас на Байкале...">
            <img width="150" height="210" src="/images/activity/090408_atz967vjnb.jpg" alt="Вот такие щучины ловятся у нас на Байкале..."/>
        </a>
        <a style="left: 200px;" href="/images/baikal/home/z_6bb260f4.jpg" class="fancybox" rel="gallery" title="">
            <img width="135" height="105" src="/images/baikal/home/thumb/z_6bb260f4.jpg" />
        </a>
        <a style="left: 340px;" href="/images/activity/0007w39t.jpeg" class="fancybox" rel="gallery" title="Святые шаманские места">
            <img width="200" height="140" src="/images/activity/0007w39t.jpeg" alt="Святые шаманские места" />
        </a>
        <a style="top: 115px; left: 200px;" href="/images/activity/robben.jpeg" class="fancybox" rel="gallery" title="Лежбище ушканов">
            <img width="200" height="140" src="/images/activity/robben.jpeg" alt="Лежбище ушканов"/>
        </a>
        <a style="left: 550px;" href="/images/baikal/home/z_28f17023.jpg" class="fancybox" rel="gallery" title="На этик катерах можно сделать прогулку по Байкалу и посетить горячие источники">
            <img width="170" height="125" src="/images/baikal/home/thumb/z_28f17023.jpg" alt="На этик катерах можно сделать прогулку по Байкалу и посетить горячие источники"/>
        </a>
        <a style=" top: 225px;" href="/images/baikal/home/z_c2c13851.jpg" class="fancybox" rel="gallery" title="">
            <img width="150" height="110" src="/images/baikal/home/thumb/z_c2c13851.jpg" />
        </a>
<!--        <a href="/images/activity/pc017.jpg" class="fancybox" rel="gallery" title="">
            <img width="130" height="100" src="/images/activity/pc017.jpg" />
        </a>-->
        <a style="left: 410px; top: 150px;" href="/images/activity/2.jpg" class="fancybox" rel="gallery" title="Восхождение на п-ов.Святой нос">
            <img width="140" height="100" src="/images/activity/2.jpg" alt="Восхождение на п-ов.Святой нос" />
        </a>
        <a style="left: 375px; top: 265px;" href="/images/baikal/home/z_aaa0266d.jpg" class="fancybox" rel="gallery" title="Вид на Крестовый нос с Мраморной горы">
            <img width="160" height="110" src="/images/baikal/home/thumb/z_aaa0266d.jpg" alt="Вид на Крестовый нос с Мраморной горы"/>
        </a>
<!--        <a href="/images/baikal/home/z_ef05809b.jpg" class="fancybox" rel="gallery" title="">
            <img width="140" height="100" src="/images/baikal/home/thumb/z_ef05809b.jpg" />
        </a>-->
        <a style="right: 35px; top: 145px;" href="/images/activity/7916_shashlyk.jpg" class="fancybox" rel="gallery" title="Шашлычки прямо на берегу Байкала, ммм...">
            <img width="160" height="160" src="/images/activity/7916_shashlyk.jpg" alt="Шашлычки прямо на берегу Байкала, ммм..." />
        </a>
        <a style="left: 200px; top: 265px;" href="/images/activity/0007yhxt.jpeg" class="fancybox" rel="gallery" title="После активного дня любоваться закатом и слушать шепот дремучего Байкала.">
            <img width="160" height="110" src="/images/activity/0007yhxt.jpeg" alt="После активного дня любоваться закатом и слушать шепот дремучего Байкала."/>
        </a>
    </div>

    <div class="entry">
        <h1 class="entry-title">Отзывы наших туристов из гостевой книги!</h1>

        <blockquote class="guestbook">
            <p>Уважаемая Ольга Семеновна!</p>
            <p>Огромное спасибо за отдых, семейную заботу. Погода была солнечная, теплая, баловала нас, дальневосточников. База действительно оказалась «Райским уголком». Желаем здоровья и благополучия хозяйке и ее семье.
            Семья Ани, Светлана, Александр, Кирилл. г. Хабаровск</p>
            <p>Спасибо!</p>
            <p>Sven Mansberg, Juhan Peedimaa</p>
            <p>WorldRide 2012, <a href="http://worldride.extreme.ee/">worldride.extreme.ee</a></p>
        </blockquote>
        
        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Уважаемая Ольга Семеновна!</p>
            <p>Спасибо Вам за отлично проведенное время на берегу Байкала! Все было прекрасно! Хорошо отдохнули, загорели, замечательно провели отпуск! Спасибо за прекрасный сервис! За отличное обслуживание! За гостеприимство! Приедем еще раз к Вам в гости!
С наилучшими пожеланиями. Таня Хаглеева, г. Улан-Удэ <span class="date">26.08.2011</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Уважаемая Ольга Семеновна!</p>
            <p>Огромное спасибо вам за прекрасно проведенное время в Райском Уголке. Желаем благополучия и добра. Процветайте!
            Саша и Самбу, г. Улан-Удэ и г. Кяхта <span class="date">13.08.2011</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Уважаемая Ольга Семеновна!</p>
        <p>Большое спасибо за радушный прием. Очень хорошо отдохнули в вашем «Райском уголке». Желаем доровья и процветания. Надеемся на встречу в следующем году.
Пиб, Лали, г. Сочи <span class="date">13.08.2011</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Спасибо за прекрасный отдых! За теплый и домашний прием! Обязательно посетим Вас на следующий год!
Валентина Петровна, Ольга, Даниил, Ваня <span class="date">09.08.2011</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Уважаемая Ольга Семеновна!!!</p>
            <p>Хочется выразить свою благодарность Вас за семейное гостеприимство, но в словах это выразить невозможно, просто огромное СПАСИБО ВАМ!!!
Василий,
<span class="date">05.08.2011</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Привет от Балтийского моря морю Байкальскому! Будем помнить с благодарностью и радостью. Спасибо за семейную заботу.
Потала, Алор, Эстония <span class="date">03.08.2011</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Провели чудесное время. Очень здорово, что Байкал прямо «под носом». Чисто, аккуратно. Спасибо за все.
Ольга, Тьерри, Руслан и Вадим <span class="date">02.08.211</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Огромное спасибо аз отличное обслуживание и доброе отношение к нам, отдыхающим. Отлично отдохнули и полюбовались красотами Байкала. В будущем обязательно вернемся.
Тамара Батуева, Зинаида Гармаева</p>
            <span class="date">28.07.2011</span>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Оксана, Максим! У вас действительно «Райский уголок». Все продумано и создано для полноценного отдыха, очень уютно и чисто. Мы хорошо отдохнули и желаем вам в будущем развития и процветания. Мы еще вернемся!!!
Любовь Васильевна и Валентина Сергеевна <span class="date">07.08.2010</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Огромное спасибо!</p>
            <p>Нам очень понравилось, полное соответствие цены и качества обслуживания, впечатлений от близости Байкала уйма. Желаем всех благ, непридирчивых гостей, туристов, развития вашей базы и всего-всего наилучшего!!! Жаль, что так мало отдыхали.
Казань, 2010 год</p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Спасибо!!! Замечательно отдохнули. Удивительное сочетание природы Байкала с уютной атмосферой размещения. Внимательный и обходительный персонал. Желаем дальнейшего развития и хороших гостей!!!
Семья Согдатовых, г. Киров <span class="date">25.07.2010</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Спасибо! Замечательный отдых, отличное обслуживание! Все чисто, аккуратно! Великолепный персонал. Отборные туристы. Приемлемые цены. Желаем благополучия и развития!
Вет. Врач Тасканова Лиля Александровна <span class="date">25.07.2010</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Большое спасибо Ольги Семеновны!</p>
            <p>Очень здорово отдохнули, накупались. Детям все понравилось.ю турбаза, озеро, природа, воздух. Желаем дальнейшего процветания, чтобы было еще лучше и комфортнее. Всего, всего хорошего. Спасибо!
Семья Ангархаевых</p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Выражаем огромную благодарность за столь приятный отдых! За качественное обслуживание, приятные и уютные комнаты. Очень рады знакомству с Вами! Желаем райскому уголку развиваться и процветать! Обязательно будем к вам приезжать и советовать друзьям и родным побывать в Райском уголке! Всего доброго!
С уважением, Эдуард и Уянга Кулаковы <span class="date">21.07.2010</span></p>
        </blockquote>

        <p style="text-align:center;">&dot;&dot;&dot;</p>

        <blockquote class="guestbook">
            <p>Большое спасибо хозяюшке Ольге Семеновне за такой прекрасный отдых! По-настоящему Райский уголок. Все прекрасно, чувствуешь себя как дома. Забота об отдыхающих, уют. Все новое, чистое. Так не хотелось уезжать. Впредь отдыхать будем только в Райском уголке.
Горчилсова Ф.П. <span class="date">20.07.2010</span></p>
        </blockquote>


    </div>

</div>
{% endblock %}