{% extends 'base.twig' %}

{% block title %}Максимихе: Как туда добраться база отдыха на Байкале "Райский уголок"{% endblock %}

{% block meta %}
    <meta name="title" content="Максимихе: Как туда добраться база отдыха на Байкале &quot;Райский уголок&quot;" />
    <meta name="keywords" content="Максимихе,База отдыха,турбаза байкал,Святой Нос,Байкал" />
    <meta name="description" content="Отдыхайте у нас прямо на берегу Байкала от 400 руб! Звоните Тел.круглосуточно: 8-902-564-7687 или 8-924-655-91-99"/>
{% endblock %}

{% block content %}
<div class="entry">
    <h1 class="entry-title">Адрес</h1>
    <p>
        Баргузинский р-н, поселок Максимиха, ул.Байкальская, д.14 (в 235 км от г.Улан-Удэ, столица Бурятия),
        Россия.
        <br/>Тел.: +8 (902) 564-76-87 Сотовый тел: +8 (924) 655-91-99
        <br/>
        Проезд с автовокзала г. Улан-Удэ маршрутными такси.
        <br/>Время отправления из г. Улан-Удэ: Ежедневно в 8:00,
        17:00.<br/>
        Время в пути: 4 часа.<br/>
        Стоимость билета: 400 руб.
    </p>
</div>
{% endblock %}