{% extends 'base.twig' %}

{% block content %}
<div class="entry">
    <h1 class="entry-title">Адрес</h1>
    <p>
        Баргузинский р-н, поселок Максимиха, ул.Байкальская, д.14 (в 235 км от г.Улан-Удэ, столица Бурятия),
        Россия.
        <br/>т.89246559199 т.647687
        <br/>
        Проезд с автовокзала г. Улан-Удэ маршрутными такси.
        <br/>Время отправления из г. Улан-Удэ: Ежедневно в 8:00,
        17:00.<br/>
        Время в пути: 4 часа.<br/>
        Стоимость билета: 400 руб.
    </p>
</div>
{% endblock %}