{% extends 'base.twig' %}

{% block content %}
<div class="entry">
            <h1 class="entry-title">Проживание</h1>
          <p>
            <dl>
                <dt>Корпус №1</dt>
                <dd>
                    с видом на волны Байкала: Одноэтажный дом 150 кв.м. с 1-но,2-х,3-х,4-х местными номерами.
                    Удобные кровати с ортопедическими матрацами. Красивое постельное белье, ковер, тумбочка, стол,
                    стулья. Очень красивый холл с мягкой мебелью.
                    <a href="/images/baikal/y_2aeb36ca.jpg" class="fancybox" rel="gallery2" title="Sample title 1"><img width="100" height="100" src="/images/baikal/y_2aeb36ca.jpg" /></a>
                    <a href="/images/baikal/y_52362f2a.jpg" class="fancybox" rel="gallery2" title="Sample title 2"><img width="100" height="100" src="/images/baikal/y_52362f2a.jpg" /></a>
                </dd>
                <dt>Корпус №2</dt>
                <dd>
                    с видом на волны Байкала и полуостров Святой Нос: Мансардный номер на 5 мест отделка деревом.
                    Удобные одноместные кровати с ортопедическими матрацами. Холодильник, телевизор.
                </dd>
                <dt>Корпус №3</dt>
                <dd>
                    с видом на Байкал. Из Оцелендрического бревна. Все натуральное из дерева.1-ый этаж-4-х
                    мест. ортопедич. матрацы (+ стол полиров., стулья, холодильник, телевизор, эл. плитка,
                    эл. чайник) 2-ой этаж - 4-х местн. ортопедич.матрацы, стол, стулья эл.чайник.
                </dd>
            </dl>
          </p>
        </div>
        <div class="entry">
            <h1 class="entry-title">Питание</h1>
            <p>
Есть две кухни:
Одна кухня расположена в холле, имеется холодильник, кухонная утварь, посуда, вода,столы, стулья, эл. печь.
Вторая кухня - летняя кухня представляет собой большую беседку с видом на байкал, расположена на территории базы отдыха.
Имеются 4 круглых столика со стульями, электроплита, холодильник, морозильная камера, кухонная утварь, посуда, вода.
          </p>
        </div>
        <div class="entry">
            <h1 class="entry-title">Территория и Пляж</h1>
            <p>
            Имеются душ, туалет и умывальники на участке. Зонты от солнца, мангал, коптильня, охраняемая
            автостоянка. База отдыха "Святой Нос-Райский уголок" расположена у самого берега Байкала.
            Пляж находится рядом с базой. Имеется калитка для выхода на пляж.
            Дополнительная информация:
            Рядом с базой отдыха "Святой Нос-Райский уголок" расположены различные кафе, дацан,позная,
            лечебная минерал. вода, магазин, почтовое отделение.
          </p>
        </div>
        <div class="entry">
            <h1 class="entry-title">Цены</h1>
            <p>
             от 400-900 руб. за место.
            </p>
        </div>
{% endblock %}