{% extends 'base.twig' %}

{% block content %}
<div class="entry">
    <h1 class="entry-title">Развлечение</h1>
    <ul class="ticked">
        <li>
            Прогулка на катере по баргузинскому и чивыркуйскому заливу.<br/>
        </li>
        <li>Экскурсии по чивыркуйскому.</li>
        <li>заливу с посещением горячих источников.</li>
        <li>Экскурсии по баргузинской долине (богиня Янжима).</li>
        <li>Рыбалка в летний и зимний период.</li>
        <li>Восхождение на п-ов.Святой нос, лежбище ушканов, прогулка по Байкалу, дайвинг, катамараны, банан и прочие водные развлечения.</li>
        <li>А также недалеко расположен оздоровительный центр, в котором работают массажист, к вашим услугам кедровые фитобочки, апликации сувинской глиной.</li>
        <li>Парк-музей «Светлая поляна» - музейный комплекс под открытым небом, выполненный в виде городища-острога времен освоения Баргузинского края казаками первопроходцами 17 века. На территории которого расположены русская православная Церковь Покрова Пресвятой Богородицы, деревянные дома древнерусской архитектуры, сибирская баня и многое другое.</li>
    </ul>
</div>
{% endblock %}