{% extends 'base.twig' %}

{% block title %}Регион - База отдыха Святой Нос - Райский уголок - Байкала{% endblock %}

{% block meta %}
{{parent()}}
<link rel="canonical" href="http://raiskiy-ugolok.baikal-gostiniza.info/"/>
{% endblock %}

{% block content %}
<div class="entry">
          <h1 class="entry-title">Регион</h1>
          <!--<p id="vk_like"></p>-->
          <p>
            На южном побережье Баргузинского залива, в 235 км от города Улан -Удэ располагается поселок Максимиха.
            Место очень удобно для отдыха: вода здесь теплее, чем во многих местах Байкала ( в августе температура
            воды достигает +14+16С), здесь хороший пляж и отмель, рядом с селом высокие склоны гор, покрытые
            хвойным лесом, в которых осенью можно собирать лесную ягоду и грибы. В этом месте два красивейших
            залива Байкала - Баргузинский и Чивыркуйский разделены полуостровом Святой Нос. Вода в заливах
            теплее, чем в открытом Байкале, конец июля - начало августа здесь лучшее время для отдыха. Мелкий
            песок и чистейшая вода привлекают сюда многочисленных туристов. Берега покрыты густым хвойным и
            лиственным лесом, спускающимся прямо к кромке воды, прямо под ногами растет брусника и шикша, в
            августе в обилии появляются грибы. Прямо с берега можно ловить рыбу, здесь водятся омуль, хариус,
            сиг, сорога, окунь и другие виды. Недалеко от деревни Максимиха есть небольшое лесное озеро Духовое,
            где можно отлично порыбачить.
          </p>
        </div>
{% endblock %}