{% extends 'base.twig' %}

{% block content %}
<div class="entry">
    <h1 class="entry-title">Услуги</h1>
    <ol>
        <li>Круглосуточный прием гостей</li>
        <li>Охраняемая автостоянка</li>
        <li>Сервисные услуги (междугородний, международный телефон, Wi-Fi, кабельное телевидение)</li>
        <li>Охраняемая автостоянка</li>
        <li>Холодильник</li>
        <li>Хранение ценностей (сейф на ресепшен)</li>
        <li>Заказ на пробуждение</li>
        <li>Стирка, глажение</li>
        <li>Организация экскурсий</li>
        <li>Баня</li>
        <li>Беседка, летняя кухня</li>
        <li>Мангал, костровое место</li>
        <li>Настольный теннис</li>
        <li>Прокат велосипедов и туристского инвентаря: палаток, надувных</li>
    </ol>
</div>
<div class="entry">
    <h1 class="entry-title">Территория и Пляж</h1>
    <p>
        Имеются душ, туалет и умывальники на участке. Зонты от солнца, мангал, коптильня, охраняемая
        автостоянка. База отдыха "Святой Нос-Райский уголок" расположена у самого берега Байкала.
        Пляж находится рядом с базой. Имеется калитка для выхода на пляж.
        Дополнительная информация:
        Рядом с базой отдыха "Святой Нос-Райский уголок" расположены различные кафе, дацан,позная,
        лечебная минерал. вода, магазин, почтовое отделение.
    </p>
</div>
{% endblock %}